.container {
  padding: 30px 5%;
}

.button {
  padding: 8px 15px;
  background-color: #fff;
  border-radius: 30px;
  color: #4d1d7a;
  border: 1px solid #4d1d7a;
}

a.button {
  text-decoration: none;
}

.button-active {
  color: #fff;
  background-color: #4d1d7a;
}

.reset-button-style {
  background: none;
  border: none;
}

/* close icon */
.cross:after {
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
  font-size: 50px;
}

.center-content {
  display: flex;
  justify-content: center;
}
