header {
  background-color: gray;
}

footer {
  background-color: darkred;
}

.filterlist {
  display: flex;
  column-gap: 20px;
}

.itemslist {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.itemslist>div.circle {
  width: 300px;
  height: 300px;
  border-radius: 160px;
}

.active {
  color: #fff;
  background-color: blue;
}

.collapsible {
  padding: 15px;
  background-color: rgb(211, 211, 211);
  flex-basis: 100%;
  /* display: none; */
}

/* .visible {
  display: block;
} */